{:paths   ["src"]
 :deps    {org.clojure/clojure        {:mvn/version "1.10.2-alpha1"}
           farismn/orchid             {:git/url "https://github.com/farismn/orchid"
                                       :sha     "ec6b93334b6dde533f78ccfd024cedb742afc0f0"}
           com.stuartsierra/component {:mvn/version "1.0.0"}
           clj-http/clj-http          {:mvn/version "3.10.3"}
           cljs-http/cljs-http        {:mvn/version "0.1.46"}
           buddy/buddy-core           {:mvn/version "1.6.0"}
           buddy/buddy-sign           {:mvn/version "3.1.0"}
           clj-time/clj-time          {:mvn/version "0.15.2"}
           com.taoensso/encore        {:mvn/version "3.1.0"}
           cheshire/cheshire          {:mvn/version "5.10.0"}}
 :aliases {:dev {:extra-paths ["resources" "dev"]
                 :extra-deps  {com.stuartsierra/component.repl {:mvn/version "0.2.0"}
                               farismn/qahira                  {:git/url "https://github.com/farismn/qahira"
                                                                :sha     "b5d34eee79c37f2bf81d828ebb5ba135e8ea28a8"}
                               aero/aero                       {:mvn/version "1.1.6"}}}}}
