{:paths   ["src"]
 :deps    {org.clojure/clojure        {:mvn/version "1.10.2-alpha1"}
           farismn/orchid             {:git/url "https://github.com/farismn/orchid"
                                       :sha     "627d52d5ab4f1ec5674d2168493b108b06f58b52"}
           com.stuartsierra/component {:mvn/version "1.0.0"}
           clj-http/clj-http          {:mvn/version "3.10.3"}
           cljs-http/cljs-http        {:mvn/version "0.1.46"}
           buddy/buddy-core           {:mvn/version "1.6.0"}
           buddy/buddy-sign           {:mvn/version "3.1.0"}
           clj-time/clj-time          {:mvn/version "0.15.2"}
           com.taoensso/encore        {:mvn/version "3.1.0"}
           cheshire/cheshire          {:mvn/version "5.10.0"}}
 :aliases {:dev {:extra-paths ["resources" "dev"]
                 :extra-deps  {com.stuartsierra/component.repl {:mvn/version "0.2.0"}
                               farismn/qahira                  {:git/url "https://github.com/farismn/qahira"
                                                                :sha     "1aae3553dd564088e251fa653e104d1192e363d8"}
                               aero/aero                       {:mvn/version "1.1.6"}}}}}
